.inputBasic {
    background-color: white;
    text-decoration: none;
    font-size:20px;
    margin: 10px auto;
    border-radius: 5px;
    width: 100%;
    display: flex;
}

.inputName {
    font-size: 65px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}